// Material Design color variables
$mdc-theme-primary: #003366;
$mdc-theme-secondary: #fbc02d;
$mdc-theme-on-primary: #ffffff;
$mdc-theme-on-secondary: #000000;

$mdc-theme-surface: #fefefe;
$mdc-theme-on-surface: #000000;

// Set the font family global override variable
$mdc-typography-font-family: unquote("Lato, Helvetica, sans-serif");
