// only apply this style if below top app bar
.mdc-top-app-bar {
  z-index: 7;
}

.main-content {
  overflow: auto;
  height: 100%;
}

.mdc-card,
.mdc-card--outlined {
  @include mdc-card-fill-color($white);
  padding: $full-vertical $full-side;

  &--dense {
    padding: $quarter-vertical $quarter-side;
  }
}

.mdc-drawer {
  @include mdc-drawer-divider-color($mdc-theme-primary);
  @include mdc-drawer-surface-fill-color($white);

  .mdc-drawer-app-content {
    flex: auto;
    overflow: auto;
    position: relative;
  }
}
