<header class="mdc-top-app-bar mdc-top-app-bar--fixed">
    <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
            <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button">menu</button>
            <img class="mdc-top-app-bar__title material-icons mdc-top-app-bar__action-item tsn-header-logo" src="{T_EXT_PATH}/images/tsn-13.png">
            <span class="mdc-top-app-bar__title">the-spot.net</span>
        </section>
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
            <button aria-label="Search" class="material-icons mdc-top-app-bar__action-item mdc-icon-button">search</button>
            <button aria-label="Notifications" class="material-icons mdc-top-app-bar__action-item mdc-icon-button">notifications_none</button>
            <button aria-label="Messages" class="material-icons mdc-top-app-bar__action-item mdc-icon-button">mail_outline</button>
        </section>
    </div>
</header>
