<aside class="mdc-drawer mdc-drawer--modal mdc-top-app-bar--fixed-adjust">
    <div class="mdc-drawer__header">
        <h3 class="mdc-drawer__title">Mail</h3>
        <h6 class="mdc-drawer__subtitle">email@material.io</h6>
    </div>
    <div class="mdc-drawer__content">
        <nav class="mdc-list">
            <a aria-current="page" class="mdc-list-item mdc-list-item--activated" href="#">
                <i aria-hidden="true" class="material-icons mdc-list-item__graphic">inbox</i>
                <span class="mdc-list-item__text">Inbox</span>
            </a>
            <a class="mdc-list-item" href="#">
                <i aria-hidden="true" class="material-icons mdc-list-item__graphic">star</i>
                <span class="mdc-list-item__text">Star</span>
            </a>
            <a class="mdc-list-item" href="#">
                <i aria-hidden="true" class="material-icons mdc-list-item__graphic">send</i>
                <span class="mdc-list-item__text">Sent Mail</span>
            </a>
            <a class="mdc-list-item" href="#">
                <i aria-hidden="true" class="material-icons mdc-list-item__graphic">drafts</i>
                <span class="mdc-list-item__text">Drafts</span>
            </a>

            <hr class="mdc-list-divider">
            <h6 class="mdc-list-group__subheader">Labels</h6>
            <a class="mdc-list-item" href="#">
                <i aria-hidden="true" class="material-icons mdc-list-item__graphic">bookmark</i>
                <span class="mdc-list-item__text">Family</span>
            </a>
            <a class="mdc-list-item" href="#">
                <i aria-hidden="true" class="material-icons mdc-list-item__graphic">bookmark</i>
                <span class="mdc-list-item__text">Friends</span>
            </a>
            <a class="mdc-list-item" href="#">
                <i aria-hidden="true" class="material-icons mdc-list-item__graphic">bookmark</i>
                <span class="mdc-list-item__text">Work</span>
            </a>
        </nav>
    </div>
</aside>
<div class="mdc-drawer-scrim"></div>

