<aside class="mdc-drawer mdc-drawer--modal mdc-top-app-bar--fixed-adjust mdc-theme--surface mdc-theme--on-surface">
    <div class="mdc-drawer__header">
        <div class="drawer-avatar-wrapper">
            {AVATAR_IMG}
        </div>
        <div class="drawer-header-wrapper">
            <h3 class="mdc-drawer__title">{USERNAME}</h3>
            <h6 class="mdc-drawer__subtitle">
                <!-- IF RANK_TITLE -->{RANK_TITLE}<!-- ENDIF -->
            </h6>
        </div>
    </div>
    <nav class="mdc-drawer__content">
        <div class="mdc-list">

            <!-- EVENT navbar_header_quick_links_before -->

            <a aria-current="page" class="mdc-list-item mdc-list-item--activated" href="{U_TSN_MYSPOT}">
                <i aria-hidden="true" class="material-icons mdc-list-item__graphic">home</i>
                <span class="mdc-list-item__text">My Spot</span>
            </a>

            <!-- IF S_DISPLAY_SEARCH -->
            <!-- IF S_REGISTERED_USER -->
            <a class="mdc-list-item" href="{U_SEARCH_SELF}">
                <!-- TODO Inject User Avatar as Icon for this item -->
                <i aria-hidden="true" class="material-icons mdc-list-item__graphic">star</i>
                <span class="mdc-list-item__text">{L_SEARCH_SELF}</span>
            </a>
            <!-- ENDIF -->
            <!-- IF S_USER_LOGGED_IN -->
            <a class="mdc-list-item" href="{U_SEARCH_NEW}">
                <i aria-hidden="true" class="material-icons mdc-list-item__graphic">new_releases</i>
                <span class="mdc-list-item__text">{L_SEARCH_NEW}</span>
            </a>
            <!-- ENDIF -->
            <!-- IF S_LOAD_UNREADS -->
            <a class="mdc-list-item" href="{U_SEARCH_UNREAD}">
                <i aria-hidden="true" class="material-icons mdc-list-item__graphic">bookmark</i>
                <span class="mdc-list-item__text">{L_SEARCH_UNREAD}</span>
            </a>
            <!-- ENDIF -->
            <a class="mdc-list-item" href="{U_SEARCH_UNANSWERED}">
                <i aria-hidden="true" class="material-icons mdc-list-item__graphic">speaker_notes_off</i>
                <span class="mdc-list-item__text">{L_SEARCH_UNANSWERED}</span>
            </a>
            <a class="mdc-list-item" href="{U_SEARCH_ACTIVE_TOPICS}">
                <i aria-hidden="true" class="material-icons mdc-list-item__graphic">whatshot</i>
                <span class="mdc-list-item__text">{L_SEARCH_ACTIVE_TOPICS}</span>
            </a>
            <a class="mdc-list-item" href="{U_SEARCH}">
                <i aria-hidden="true" class="material-icons mdc-list-item__graphic">search</i>
                <span class="mdc-list-item__text">{L_SEARCH}</span>
            </a>
            <!-- ENDIF -->

            <!-- EVENT navbar_header_quick_links_after -->
        </div>
        <div class="mdc-list">

            <!-- BEGIN forumrow -->
            <!-- IF forumrow.S_IS_CAT -->
            <h6 class="mdc-list-group__subheader">{forumrow.FORUM_NAME}</h6>
            <hr class="mdc-list-divider">
            <!-- ELSEIF forumrow.S_IS_LINK -->
            <a class="mdc-list-item" href="{forumrow.U_VIEWFORUM}" target="_blank">
                <!-- IF forumrow.FORUM_IMAGE_SRC -->
                <img alt="{FORUM_FOLDER_IMG_ALT}" class="mdc-list-item__graphic tsn-navigation-image" src="{forumrow.FORUM_IMAGE_SRC}"/>
                <!-- ENDIF -->
                <span class="mdc-list-item__text">{forumrow.FORUM_NAME}</span>
                <i aria-hidden="true" class="material-icons mdc-list-item__meta">open_in_new</i>
            </a>
            <!-- ELSE -->
            <!-- IF forumrow.S_NO_CAT -->{L_FORUMS}<!-- ENDIF -->
            <a class="mdc-list-item" href="{forumrow.U_VIEWFORUM}">
                <i aria-hidden="true" class="material-icons mdc-list-item__graphic"><!-- IF forumrow.S_UNREAD_FORUM -->fiber_new<!-- ENDIF --></i>
                <span class="mdc-list-item__text">{forumrow.FORUM_NAME}</span>
            </a>
            <!-- ENDIF -->
            <!-- BEGINELSE -->
            {L_NO_FORUMS}
            <!-- END forumrow -->
        </div>
    </nav>
</aside>
<div class="mdc-drawer-scrim"></div>
