<!DOCTYPE html>
<html dir="{S_CONTENT_DIRECTION}" id="tsn" lang="{S_USER_LANG}">
<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    {META}
    <title><!-- IF UNREAD_NOTIFICATIONS_COUNT -->({UNREAD_NOTIFICATIONS_COUNT}) <!-- ENDIF --><!-- IF not S_VIEWTOPIC and not S_VIEWFORUM -->{SITENAME} - <!-- ENDIF --><!-- IF S_IN_MCP -->{L_MCP} - <!-- ELSEIF S_IN_UCP -->{L_UCP} - <!-- ENDIF -->{PAGE_TITLE}<!-- IF S_VIEWTOPIC or S_VIEWFORUM --> - {SITENAME}<!-- ENDIF --></title>

    <!-- IF S_ENABLE_FEEDS -->
    <!-- IF S_ENABLE_FEEDS_OVERALL -->
    <link href="{{ path('phpbb_feed_index') }}" rel="alternate" title="{L_FEED} - {SITENAME}" type="application/atom+xml"><!-- ENDIF -->
    <!-- IF S_ENABLE_FEEDS_NEWS -->
    <link href="{{ path('phpbb_feed_news') }}" rel="alternate" title="{L_FEED} - {L_FEED_NEWS}" type="application/atom+xml"><!-- ENDIF -->
    <!-- IF S_ENABLE_FEEDS_FORUMS -->
    <link href="{{ path('phpbb_feed_forums') }}" rel="alternate" title="{L_FEED} - {L_ALL_FORUMS}" type="application/atom+xml"><!-- ENDIF -->
    <!-- IF S_ENABLE_FEEDS_TOPICS -->
    <link href="{{ path('phpbb_feed_topics') }}" rel="alternate" title="{L_FEED} - {L_FEED_TOPICS_NEW}" type="application/atom+xml"><!-- ENDIF -->
    <!-- IF S_ENABLE_FEEDS_TOPICS_ACTIVE -->
    <link href="{{ path('phpbb_feed_topics_active') }}" rel="alternate" title="{L_FEED} - {L_FEED_TOPICS_ACTIVE}" type="application/atom+xml"><!-- ENDIF -->
    <!-- IF S_ENABLE_FEEDS_FORUM and S_FORUM_ID -->
    <link href="{{ path('phpbb_feed_forum', { forum_id : S_FORUM_ID } ) }}" rel="alternate" title="{L_FEED} - {L_FORUM} - {FORUM_NAME}" type="application/atom+xml"><!-- ENDIF -->
    <!-- IF S_ENABLE_FEEDS_TOPIC and S_TOPIC_ID -->
    <link href="{{ path('phpbb_feed_topic', { topic_id : S_TOPIC_ID } ) }}" rel="alternate" title="{L_FEED} - {L_TOPIC} - {TOPIC_TITLE}" type="application/atom+xml"><!-- ENDIF -->
    <!-- EVENT overall_header_feeds -->
    <!-- ENDIF -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- IF U_CANONICAL -->
    <link href="{U_CANONICAL}" rel="canonical">
    <!-- ENDIF -->

    <!--
        phpBB style name: tsn
        Based on style:   prosilver (this is the default phpBB3 style)
        Original author:  Tom Beddard ( http://www.subBlue.com/ )
        Modified by: @neotsn ( http://about.me/neotsn)
    -->

    <!-- IF S_ALLOW_CDN -->
    <script>
      WebFontConfig = {
        google: {
          families: ['Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese']
        }
      };

      (function (d) {
        var wf = d.createElement('script'), s = d.scripts[0];
        wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js';
        wf.async = true;
        s.parentNode.insertBefore(wf, s);
      })(document);
    </script>
    <!-- ENDIF -->
    <link href="{T_FONT_AWESOME_LINK}" rel="stylesheet">
    <link href="{T_STYLESHEET_LINK}" rel="stylesheet">
    <link href="{T_STYLESHEET_LANG_LINK}" rel="stylesheet">

    <!-- IF S_CONTENT_DIRECTION eq 'rtl' -->
    <link href="{T_THEME_PATH}/bidi.css?assets_version={T_ASSETS_VERSION}" rel="stylesheet">
    <!-- ENDIF -->

    <!-- IF S_PLUPLOAD -->
    <link href="{T_THEME_PATH}/plupload.css?assets_version={T_ASSETS_VERSION}" rel="stylesheet">
    <!-- ENDIF -->

    <!-- IF S_COOKIE_NOTICE -->
    <link href="{T_ASSETS_PATH}/cookieconsent/cookieconsent.min.css?assets_version={T_ASSETS_VERSION}" rel="stylesheet">
    <!-- ENDIF -->

    <!--[if lte IE 9]>
    <link href="{T_THEME_PATH}/tweaks.css?assets_version={T_ASSETS_VERSION}" rel="stylesheet">
    <![endif]-->

    <!-- TODO Add Variables from Site Config here; and swap title/description with post/excerpt content -->
    <meta content="https://the-spot.net" property="og:url"/>
    <meta content="website" property="og:type"/>
    <meta content="the-spot.net" property="og:site_name"/>
    <meta content="the-spot.net" property="og:title"/>
    <meta content="Welcome to the-spot.net &quot;the-spot.net&quot;, and the all new tsn8!" property="og:description"/>
    <meta content="https://the-spot.net/img/media/email-header.png" property="og:image"/>

    <link href="{T_EXT_PATH}/images/logos/tsn-13-logo-75x75.png" rel="icon" type="image/png"/>
    <link href="{T_EXT_PATH}/images/logos/apple-icon-72x72.png" rel="apple-touch-icon" sizes="72x72"/>
    <link href="{T_EXT_PATH}/images/logos/apple-icon-57x57.png" rel="apple-touch-icon" sizes="57x57"/>
    <link href="{T_EXT_PATH}/images/logos/apple-icon-114x114.png" rel="apple-touch-icon" sizes="114x114"/>
    <link href="{T_EXT_PATH}/images/logos/apple-icon-144x144.png" rel="apple-touch-icon" sizes="144x144"/>


    <!-- EVENT overall_header_head_append -->

    {$STYLESHEETS}

    <!-- EVENT overall_header_stylesheets_after -->

</head>
<!--<body id="phpbb" class="nojs notouch section-{SCRIPT_NAME} {S_CONTENT_DIRECTION} {BODY_CLASS}">-->
<body>
<!-- INCLUDECSS @tsn_tsn/css/tsn_theme.css -->
<!-- INCLUDEJS @tsn_tsn/js/tsn_scripts.js -->

<!-- INCLUDE @tsn_tsn/mdc_topAppBar.html -->
<!-- INCLUDE @tsn_tsn/mdc_leftNavigationDrawer.html -->

<div class="mdc-drawer-app-content mdc-top-app-bar--fixed-adjust">
    <main class="main-content">


